@charset "UTF-8";

body{
	margin: 30px 0;
}

.inner{
	width: 960px;
	margin: 0 auto;
}

h1{
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.wrapper {
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
	margin: 0 20px;
}

.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

p {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}

.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}

.card-link a:hover {
  color: #0090aa;
}

/* ここから以下 */
/*
#card{
	display: flex;
}

h1 span{
	color: red;
}

.card-content > p{
	text-align: center;
	line-height: 1;
}

h2 , p , a{
	font-family: serif;
} */
